<!DOCTYPE html>
<html ng-app="AJApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.3.0" data-semver="1.3.0"
            src="https://code.angularjs.org/1.3.0/angular.js"></script>
    <script src="dirPagination.js"></script>

    <style>
        body {
            font-family: open_sans;
        }

    </style>

    <script>
        var hide = 0;
        $(document).ready(function () {
            $('#tog').click(function () {
                if (hide == 0) {
                    $('#mynav').hide();
                    $('.xblock').removeClass("  col-xs-11   col-sm-11  col-md-10  col-lg-10");
                    $('.xblock').addClass(" col-xs-12 col-sm-12 col-md-12 col-lg-12");
                    $('.xblock').css("margin", "0px 8px 0px 7px");

                    hide = 1;
                }
                else {
                    $('#mynav').show();
                    $('.xblock').removeClass(" col-xs-12 col-sm-12 col-md-12 col-lg-12");
                    $('.xblock').addClass(" col-xs-11   col-sm-11  col-md-10  col-lg-10");
                    $('.xblock').css("margin", "");

                    hide = 0;
                }
            });
        });


        var AJApp = angular.module('AJApp', ['angularUtils.directives.dirPagination']);


        function MyController($scope, $http) {

            $scope.currentPage = 1;
            $scope.pageSize = 10;
            $scope.meals = [];

            $scope.sortType = 'statename';
            $http({
                method: 'GET',
                url: 'http://congress.api.sunlightfoundation.com/legislators?apikey=4acd972a599843bd93ea4dba171a483f&per_page=all'
            }).then(
                    function successCallback(response) {

                        $scope.res = angular.fromJson(response);
                        var len = $scope.res.data.results.length;
                        var x = $scope.res.data.results[0].chamber;
                        for (i = 0; i < len; i++) {
                            var party = $scope.res.data.results[i].party;
                            var lastname = $scope.res.data.results[i].last_name;
                            var firstname = $scope.res.data.results[i].first_name;
                            var name = lastname + ", " + firstname;
                            var chamber = $scope.res.data.results[i].chamber;
                            var district = $scope.res.data.results[i].district;
                            var statename = $scope.res.data.results[i].state_name;
                            var chambertxt;

                            if (party == 'R') {
                                party = 'r.png';
                            }
                            else if(party=='D'){
                                party =  'd.png';
                            }

                            if (chamber == "house") {
                                chamber = 'h.png';
                                chambertxt='House'
                            }

                            else if(chamber=='senate'){
                                chamber = 's.svg';
                                chambertxt='Senate';
                            }

                            if (district == null) {
                                district = "N.A.";
                            }
                            else {
                                district = "District " + district;
                            }


                            var meal = {
                                party: party, name: name, chamber: chamber, district: district, statename: statename,chambertxt:chambertxt
                            }
                            $scope.meals.push(meal);

                        }

                    }, function errorCallback(response) {

                    }
            );


            $scope.pageChangeHandler = function (num) {
                console.log('meals page changed to ' + num);
            };
        }

        function OtherController($scope) {
            $scope.pageChangeHandler = function (num) {
                console.log('going to page ' + num);
            };
        }

        function MyController2($scope, $http) {

            $scope.currentPage = 1;
            $scope.pageSize = 10;
            $scope.meals = [];

            $http({
                method: 'GET',
                url: 'http://congress.api.sunlightfoundation.com/legislators?chamber=house&apikey=4acd972a599843bd93ea4dba171a483f&per_page=all'
            }).then(
                    function successCallback(response) {

                        $scope.res = angular.fromJson(response);
                        var len = $scope.res.data.results.length;
                        var x = $scope.res.data.results[0].chamber;
                        for (i = 0; i < len; i++) {
                            var party = $scope.res.data.results[i].party;
                            var lastname = $scope.res.data.results[i].last_name;
                            var firstname = $scope.res.data.results[i].first_name;
                            var name = lastname + ", " + firstname;
                            var chamber = $scope.res.data.results[i].chamber;
                            var district = $scope.res.data.results[i].district;
                            var statename = $scope.res.data.results[i].state_name;

                            if (party == 'R') {
                                party = "<img src='r.png' width='20px' height='20'/>";
                            }
                            else {
                                party = "<img src='d.png' width='20px' height='20'/>"
                            }

                            if (chamber == "house") {
                                chamber = "<img src='h.png' width='20px' height='20'/>" + " House";
                            }
                            else {
                                chamber = "<img src='s.svg' width='20px' height='20'/>" + " Senate";
                            }

                            if (district == null) {
                                district = "N.A.";
                            }
                            else {
                                district = "District " + district;
                            }


                            var meal = {
                                party: party, name: name, chamber: chamber, district: district, statename: statename
                            }
                            $scope.meals.push(meal);

                        }

                    }, function errorCallback(response) {

                    }
            );


            $scope.pageChangeHandler = function (num) {
                console.log('meals page changed to ' + num);
            };
        }

        function OtherController2($scope) {
            $scope.pageChangeHandler = function (num) {
                console.log('going to page ' + num);
            };
        }
        AJApp.controller('MyController', MyController);
        AJApp.controller('OtherController', OtherController);
        AJApp.controller('MyController2', MyController2);
        AJApp.controller('OtherController2', OtherController2);
    </script>
</head>

<body>
<div style="position: fixed; z-index: 1;background-color: white;width:100%" >
    <button id="tog" class="glyphicon glyphicon-menu-hamburger"
            style="float: left;background-color: white;border: none;width: 40px;height: 40px" ></button>
    <h4 style="text-align: center"><a href="http://sunlightfoundation.com/" target="_blank"><img src="logo.png"></a>
        Congress API
    </h4>
</div>


<div class="container-fluid " style="padding-top: 60px">
    <div class="row">
        <div id="mynav" class="col-xs-1  col-sm-1 col-md-2 col-lg-2" style="height:1000px;padding-left: 0px;padding-right: 0px;">
            <ul class=" nav nav-list " style="height:100%;background-color:rgb(69,69,69)">
                <li><a id="leg" href="#" style="color: white;height: 50px;"><span
                        class="glyphicon glyphicon-user"></span> <span
                        class="hidden-xs hidden-sm">Legislators</span></a></li>
                <li><a id="bill" href="#" style="color: white;height: 50px;"><span
                        class="glyphicon glyphicon-file"></span><span class="hidden-xs hidden-sm"> Bills</span></a></li>
                <li><a href="#" style="color: white;height: 50px;"><span class="glyphicon glyphicon-log-in"></span>
                    <span class="hidden-xs hidden-sm"> Comittees</span></a></li>
                <li><a href="#" style="color: white;height: 50px;"><span class="glyphicon glyphicon-star"></span>
                    <span class="hidden-xs hidden-sm"> Favorites</span></a></li>
            </ul>
        </div>

        <div id="legtab" class=" xblock col-lg-10 col-xs-11 col-sm-11  col-md-10" style="background-color: whitesmoke">
            <h1>Legislators</h1>
            <hr>

            <div style="border: solid 1px lightgray;border-radius: 5px ">
                <ul class="nav nav-tabs" style="background-color: white">
                    <li id="tab11" class="active"><a data-toggle="tab" href="#11">By state</a></li>
                    <li id="tab12"><a data-toggle="tab" href="#12">House</a></li>
                    <li id="tab13"><a data-toggle="tab" href="#13">Senate</a></li>
                </ul>
                <div class="tab-content">
                    <div id="11" class="tab-pane fade in active" ng-controller="MyController">
                        <div class="well" style="margin: 0;"><span>Legislators By State</span>
                            <input type="text" ng-model="q" id="search11" class="form-control"
                                   placeholder="Filter text">

                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body"  style="overflow: scroll">

                                <table class=" table table-hover table-responsive" >
                                    <thead >
                                    <tr >
                                        <th>Party</th>
                                        <th>Name</th>
                                        <th>Chamber</th>
                                        <th>District</th>
                                        <th>State</th>
                                        <th>Detail</th>
                                    </tr >
                                    </thead>
                                    <tbody >
                                    <tr dir-paginate="meal in meals| orderBy:sortType| filter:q | itemsPerPage: pageSize"
                                        current-page="currentPage" style="min-width: 400px">

                                        <td><img src='{{ meal.party }}' width='20px' height='20'/></td>
                                        <td>{{ meal.name }}</td>
                                        <td><img src='{{ meal.chamber }}' width='20px' height='20'/> {{ meal.chambertxt }}</td>
                                        <td>{{ meal.district}}</td>
                                        <td>{{ meal.statename}}</td>
                                        <td>
                                            <button class='btn btn-primary'>View Detail</button>
                                        </td>
                                    <tr>
                                    <tbody>

                                </table>
                            </div>
                        </div>
                        <div ng-controller="OtherController">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true"
                                                         on-page-change="pageChangeHandler(newPageNumber)"
                                                         template-url="dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>


                    </div>
                    <div id="12" class="tab-pane fade " ng-controller="MyController2">

                        <div class="well">Legislators By House
                            <input type="text" ng-model="q" id="search12" class="form-control"
                                   placeholder="Filter text">

                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class=" table table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Party</th>
                                        <th>Name</th>
                                        <th>Chamber</th>
                                        <th>District</th>
                                        <th>State</th>
                                        <th>Detail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize"
                                        current-page="currentPage">
                                        <td>{{ meal.party }}</td>
                                        <td>{{ meal.name }}</td>
                                        <td>{{ meal.chamber }}</td>
                                        <td>{{ meal.district}}</td>
                                        <td>{{ meal.statename}}</td>
                                        <td>
                                            <button class='btn btn-primary'>View Detail</button>
                                        </td>
                                    <tr>
                                    <tbody>

                                </table>
                            </div>
                        </div>
                        <div ng-controller="OtherController2">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true"
                                                         on-page-change="pageChangeHandler(newPageNumber)"
                                                         template-url="dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>


    </div>
</div>

</body>

</html>