<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.3.0" data-semver="1.3.0"
            src="https://code.angularjs.org/1.3.0/angular.js"></script>
    <script src="dirPagination.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <style>
        body {
            font-family: "Open Sans";
        }
    </style>

    <script>
        var hide = 0;
        $(document).ready(function () {

            $("#myCarousel").carousel();
            $("#billtab").hide();

            $("#bill").click(function () {
                $("#legtab").hide();
                $("#billtab").show();
            });
            $("#leg").click(function () {
                $("#billtab").hide();
                $("#legtab").show();
            });

            $('#tog').click(function () {
                if (hide == 0) {
                    $('#mynav').hide();
                    $('.xblock').removeClass("  col-xs-11   col-sm-11  col-md-10  col-lg-10");
                    $('.xblock').addClass(" col-xs-12 col-sm-12 col-md-12 col-lg-12");
                    $('.xblock').css("margin", "0px 8px 0px 7px");
                    hide = 1;
                }
                else {
                    $('#mynav').show();
                    $('.xblock').removeClass(" col-xs-12 col-sm-12 col-md-12 col-lg-12");
                    $('.xblock').addClass(" col-xs-11   col-sm-11  col-md-10  col-lg-10");
                    $('.xblock').css("margin", "");
                    hide = 0;
                }
            });
        });
        var AJApp = angular.module('AJApp', ['angularUtils.directives.dirPagination']);

        function LGC($scope, $http) {
            $scope.pageSize = 10;
            $scope.currentPage = 1;
            $scope.leg1 = [];
            $scope.leg2 = [];
            $scope.leg3 = [];
            $scope.bill1 = [];
            $scope.bill2 = [];

            var requrl = 'CongressServer.php';
            var para1 = {request: 'reqlegislator'};
            var para2 = {request: 'reqlegislator', chamber: 'house'};
            var para3 = {request: 'reqlegislator', chamber: 'senate'};
            var para4 = {request: 'reqbills', active: 'true'};
            var para5 = {request: 'reqbills', active: 'false'};

            $http({
                method: 'GET',
                url: requrl,
                params: para1

            }).then(
                    function successCallback(response) {
                        $scope.res = angular.fromJson(response);
                        var len = $scope.res.data.results.length;
                        for (i = 0; i < len; i++) {
                            var party = $scope.res.data.results[i].party;
                            var lastname = $scope.res.data.results[i].last_name;
                            var firstname = $scope.res.data.results[i].first_name;
                            var name = lastname + ", " + firstname;
                            var chamber = $scope.res.data.results[i].chamber;
                            var district = $scope.res.data.results[i].district;
                            var statename = $scope.res.data.results[i].state_name;
                            var bioid = $scope.res.data.results[i].bioguide_id;

                            var chambertxt;
                            if (party == 'R') {
                                party = 'r.png';
                            }
                            else if (party == 'D') {
                                party = 'd.png';
                            }
                            if (chamber == "house") {
                                chamber = 'h.png';
                                chambertxt = 'House'
                            }
                            else if (chamber == 'senate') {
                                chamber = 's.svg';
                                chambertxt = 'Senate';
                            }
                            if (district == null) {
                                district = "N.A.";
                            }
                            else {
                                district = "District " + district;
                            }
                            var leg = {
                                party: party,
                                name: name,
                                chamber: chamber,
                                district: district,
                                statename: statename,
                                chambertxt: chambertxt,
                                bioid: bioid
                            };
                            $scope.leg1.push(leg);
                        }
                    }, function errorCallback(response) {
                    }
            );

            $http({
                method: 'GET',
                url: requrl,
                params: para2

            }).then(
                    function successCallback(response) {
                        $scope.res = angular.fromJson(response);
                        var len = $scope.res.data.results.length;
                        for (i = 0; i < len; i++) {
                            var party = $scope.res.data.results[i].party;
                            var lastname = $scope.res.data.results[i].last_name;
                            var firstname = $scope.res.data.results[i].first_name;
                            var name = lastname + ", " + firstname;
                            var chamber = $scope.res.data.results[i].chamber;
                            var district = $scope.res.data.results[i].district;
                            var statename = $scope.res.data.results[i].state_name;
                            var chambertxt;
                            if (party == 'R') {
                                party = 'r.png';
                            }
                            else if (party == 'D') {
                                party = 'd.png';
                            }
                            if (chamber == "house") {
                                chamber = 'h.png';
                                chambertxt = 'House'
                            }
                            else if (chamber == 'senate') {
                                chamber = 's.svg';
                                chambertxt = 'Senate';
                            }
                            if (district == null) {
                                district = "N.A.";
                            }
                            else {
                                district = "District " + district;
                            }
                            var leg = {
                                party: party,
                                name: name,
                                chamber: chamber,
                                district: district,
                                statename: statename,
                                chambertxt: chambertxt
                            };
                            $scope.leg2.push(leg);
                        }
                    }, function errorCallback(response) {
                    }
            );

            $http({
                method: 'GET',
                url: requrl,
                params: para3

            }).then(
                    function successCallback(response) {
                        $scope.res = angular.fromJson(response);
                        var len = $scope.res.data.results.length;
                        for (i = 0; i < len; i++) {
                            var party = $scope.res.data.results[i].party;
                            var lastname = $scope.res.data.results[i].last_name;
                            var firstname = $scope.res.data.results[i].first_name;
                            var name = lastname + ", " + firstname;
                            var chamber = $scope.res.data.results[i].chamber;
                            var district = $scope.res.data.results[i].district;
                            var statename = $scope.res.data.results[i].state_name;
                            var chambertxt;
                            if (party == 'R') {
                                party = 'r.png';
                            }
                            else if (party == 'D') {
                                party = 'd.png';
                            }
                            if (chamber == "house") {
                                chamber = 'h.png';
                                chambertxt = 'House'
                            }
                            else if (chamber == 'senate') {
                                chamber = 's.svg';
                                chambertxt = 'Senate';
                            }
                            if (district == null) {
                                district = "N.A.";
                            }
                            else {
                                district = "District " + district;
                            }
                            var leg = {
                                party: party,
                                name: name,
                                chamber: chamber,
                                district: district,
                                statename: statename,
                                chambertxt: chambertxt
                            };
                            $scope.leg3.push(leg);
                        }
                    }, function errorCallback(response) {
                    }
            );

            $http({
                method: 'GET',
                url: requrl,
                params: para4

            }).then(
                    function successCallback(response) {
                        $scope.res = angular.fromJson(response);
                        var len = $scope.res.data.results.length;
                        for (i = 0; i < len; i++) {

                            var billid = $scope.res.data.results[i].bill_id.toUpperCase();
                            var billtype = $scope.res.data.results[i].bill_type.toUpperCase();
                            var billtitle = $scope.res.data.results[i].official_title;
                            var chamber = $scope.res.data.results[i].chamber;
                            var introducted = $scope.res.data.results[i].introduced_on;
                            var sponsor = $scope.res.data.results[i].sponsor.title + ' ' + $scope.res.data.results[i].sponsor.last_name + ", " + $scope.res.data.results[i].sponsor.first_name;

                            if (chamber == "house") {
                                chamber = 'h.png';
                                chambertxt = 'House'
                            }

                            else if (chamber == 'senate') {
                                chamber = 's.svg';
                                chambertxt = 'Senate';
                            }

                            var bill = {
                                billid: billid,
                                billtype: billtype,
                                billtitle: billtitle,
                                chamber: chamber,
                                introducted: introducted,
                                sponsor: sponsor,
                                chambertxt: chambertxt
                            };

                            $scope.bill1.push(bill);
                        }
                    }, function errorCallback(response) {
                    }
            );

            $http({
                method: 'GET',
                url: requrl,
                params: para5

            }).then(
                    function successCallback(response) {
                        $scope.res = angular.fromJson(response);
                        var len = $scope.res.data.results.length;
                        for (i = 0; i < len; i++) {

                            var billid = $scope.res.data.results[i].bill_id.toUpperCase();
                            var billtype = $scope.res.data.results[i].bill_type.toUpperCase();
                            var billtitle = $scope.res.data.results[i].official_title;
                            var chamber = $scope.res.data.results[i].chamber;
                            var introducted = $scope.res.data.results[i].introduced_on;
                            var sponsor = $scope.res.data.results[i].sponsor.title + ' ' + $scope.res.data.results[i].sponsor.last_name + ", " + $scope.res.data.results[i].sponsor.first_name;

                            if (chamber == "house") {
                                chamber = 'h.png';
                                chambertxt = 'House'
                            }

                            else if (chamber == 'senate') {
                                chamber = 's.svg';
                                chambertxt = 'Senate';
                            }

                            var bill = {
                                billid: billid,
                                billtype: billtype,
                                billtitle: billtitle,
                                chamber: chamber,
                                introducted: introducted,
                                sponsor: sponsor,
                                chambertxt: chambertxt
                            };

                            $scope.bill2.push(bill);
                        }
                    }, function errorCallback(response) {
                    }
            );


            $scope.viewdet = function (id) {

                $("#myCarousel").carousel(1);
                $http({
                    method: 'GET',
                    url: requrl,
                    params: {request: 'reqlegislator', bioid: id}

                }).then(
                        function successCallback(response) {
                            $scope.res = angular.fromJson(response);
                            var id = $scope.res.data.results[0].bioguide_id;
                            var lastname = $scope.res.data.results[0].last_name;
                            var firstname = $scope.res.data.results[0].first_name;
                            var name = lastname + "," + firstname;
                            var email = $scope.res.data.results[0].oc_email;
                            var chamber = $scope.res.data.results[0].chamber;
                            var phone = $scope.res.data.results[0].phone;
                            var party = $scope.res.data.results[0].party;
                            var tstart = $scope.res.data.results[0].term_start;
                            var tend = $scope.res.data.results[0].term_end;
                            var office = $scope.res.data.results[0].office;
                            var state = $scope.res.data.results[0].state_name;
                            var fax = $scope.res.data.results[0].fax;
                            var birthday = $scope.res.data.results[0].birthday;
                            var tid = $scope.res.data.results[0].twitter_id;
                            var fid = $scope.res.data.results[0].facebook_id;
                            var web = $scope.res.data.results[0].website;
                            var photo = "https://theunitedstates.io/images/congress/original/" + id + ".jpg";
                            var partytxt;

                            if (party == 'R') {
                                party = 'r.png';
                                partytxt='Republic';
                            }
                            else if (party == 'D') {
                                party = 'd.png';
                                partytxt='Democrat';
                            }

                            $scope.lgdet = {
                                photo: photo,
                                partytxt:partytxt,
                                name: name,
                                email: email,
                                chamber: chamber,
                                phone: phone,
                                party: party,
                                tstart: tstart,
                                tend: tend,
                                office: office,
                                state: state,
                                fax: fax,
                                birthday: birthday,
                                tid:tid,
                                fid:fid,
                                web:web
                            };


                        }, function errorCallback(response) {
                        }
                );

            };

            $scope.back = function () {
                $("#myCarousel").carousel(0);

            };


        }


        function OtherController($scope) {
            $scope.pageChangeHandler = function (num) {
                console.log('going to page ' + num);
            };
        }


        AJApp.controller('LGC', LGC);
        AJApp.controller('OtherController', OtherController);
    </script>
</head>

<body>
<div style="position: fixed; z-index: 1;background-color: white;width:100%">
    <button id="tog" class="glyphicon glyphicon-menu-hamburger"
            style="float: left;background-color: white;border: none;width: 40px;height: 40px"></button>
    <h4 style="text-align: center"><a href="http://sunlightfoundation.com/" target="_blank"><img src="logo.png"></a>
        Congress API
    </h4>
</div>


<div class="container-fluid " ng-app="AJApp" style="padding-top: 60px">
    <div class="row">
        <div id="mynav" class="col-xs-1  col-sm-1 col-md-2 col-lg-2"
             style="height:1000px;padding-left: 0px;padding-right: 0px;">
            <ul class=" nav navbar-fixed-left" style="height:100%;background-color:rgb(69,69,69)">
                <li><a id="leg" style="color: white;height: 50px;"><span
                        class="glyphicon glyphicon-user"></span> <span
                        class="hidden-xs hidden-sm">Legislators</span></a></li>
                <li><a id="bill" style="color: white;height: 50px;"><span
                        class="glyphicon glyphicon-file"></span><span
                        class="hidden-xs hidden-sm"> Bills</span></a></li>
                <li><a href="#" style="color: white;height: 50px;"><span class="glyphicon glyphicon-log-in"></span>
                    <span class="hidden-xs hidden-sm"> Comittees</span></a></li>
                <li><a href="#" style="color: white;height: 50px;"><span class="glyphicon glyphicon-star"></span>
                    <span class="hidden-xs hidden-sm"> Favorites</span></a></li>
            </ul>
        </div>
        <div ng-controller="LGC">
            <div id="myCarousel" class="carousel slide" data-interval="false">
                <div id="legtab" class=" xblock col-lg-10 col-xs-11 col-sm-11  col-md-10"
                     style="background-color: whitesmoke">
                    <h1>Legislators</h1>
                    <hr>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div style="border: solid 1px lightgray;border-radius: 5px ">
                                <ul class="nav nav-tabs" style="background-color: white">
                                    <li id="tab11" class="active"><a data-toggle="tab" href="#11">By state</a></li>
                                    <li id="tab12"><a data-toggle="tab" href="#12">House</a></li>
                                    <li id="tab13"><a data-toggle="tab" href="#13">Senate</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="11" class="tab-pane fade in active">
                                        <div class="well" style="margin: 0;">Legislators<br class="visible-xs"> By State
                                            <span> <select style="float: right" ng-model="q1" id="sel1">
                                        <option value>All States</option>
                                        <option value="Alabama">Alabama</option>
                                        <option value="Alaska">Alaska</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Arizona">Arizona</option>
                                        <option value="Arkansas">Arkansas</option>
                                        <option value="California">California</option>
                                        <option value="Colorado">Colorado</option>
                                        <option value="Connecticut">Connecticut</option>
                                        <option value="Delaware">Delaware</option>
                                        <option value="District Of Columbia">District Of Columbia</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Idaho">Idaho</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value=">Indiana">Indiana</option>
                                        <option value="Iowa">Iowa</option>
                                        <option value="Kansas">Kansas</option>
                                        <option value="Kentucky">Kentucky</option>
                                        <option value="Louisiana">Louisiana</option>
                                        <option value="Maine">Maine</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Massachusetts">Massachusetts</option>
                                        <option value="Michigan">Michigan</option>
                                        <option value="Minnesota">Minnesota</option>
                                        <option value="Mississippi">Mississippi</option>
                                        <option value="Missouri">Missouri</option>
                                        <option value="Montana">Montana</option>
                                        <option value="Nebraska">Nebraska</option>
                                        <option value="Nevada">Nevada</option>
                                        <option value="New Hampshire">New Hampshire</option>
                                        <option value="New Jersey">New Jersey</option>
                                        <option value="New Mexico">New Mexico</option>
                                        <option value="New York">New York</option>
                                        <option value="North Carolina">North Carolina</option>
                                        <option value="North Dakota">North Dakota</option>
                                        <option value="Ohio">Ohio</option>
                                        <option value="Oklahoma">Oklahoma</option>
                                        <option value="Oregon">Oregon</option>
                                        <option value="Pennsylvania">Pennsylvania</option>
                                        <option value="Rhode Island">Rhode Island</option>
                                        <option value="South Carolina">South Carolina</option>
                                        <option value="South Dakota">South Dakota</option>
                                        <option value="Tennessee">Tennessee</option>
                                        <option value="Texas">Texas</option>
                                        <option value="Utah">Utah</option>
                                        <option value="Vermont">Vermont</option>
                                        <option value="Virginia">Virginia</option>
                                        <option value="Washington">Washington</option>
                                        <option value="West Virginia">West Virginia</option>
                                        <option value="Wisconsin">Wisconsin</option>
                                        <option value="Wyoming">Wyoming</option>

                                    </select>
                                </span>

                                        </div>
                                        <div class="panel panel-default">

                                            <div class="panel-body" style="overflow: scroll">

                                                <table class=" table table-hover table-responsive">
                                                    <thead>
                                                    <tr>
                                                        <th>Party</th>
                                                        <th>Name</th>
                                                        <th>Chamber</th>
                                                        <th>District</th>
                                                        <th>State</th>
                                                        <th>Detail</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr dir-paginate="leg in leg1| orderBy:['statename','name']| filter:{statename:q1||undefined}:true | itemsPerPage: pageSize"
                                                        current-page="currentPage" pagination-id="legtab1"
                                                        style="min-width: 400px">

                                                        <td><img src='{{ leg.party }}' width='20px' height='20'/></td>
                                                        <td style="white-space: nowrap">{{ leg.name }}</td>
                                                        <td style="white-space: nowrap"><img src='{{ leg.chamber }}'
                                                                                             width='20px'
                                                                                             height='20'/> {{
                                                            leg.chambertxt
                                                            }}
                                                        </td>
                                                        <td style="white-space: nowrap">{{ leg.district}}</td>
                                                        <td>{{ leg.statename}}</td>
                                                        <td>
                                                            <button class='btn btn-primary'
                                                                    ng-click="viewdet(leg.bioid)">View Detail
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div ng-controller="OtherController">
                                            <div class="text-center">
                                                <dir-pagination-controls boundary-links="true"
                                                                         pagination-id="legtab1"
                                                ></dir-pagination-controls>
                                            </div>
                                        </div>


                                    </div>
                                    <div id="12" class="tab-pane fade">
                                        <div class="well" style="margin: 0;"><span>Legislators<br
                                                class="visible-xs"> By House</span>
                                            <input type="text" ng-model="q2" id="search12" style="float: right"
                                                   placeholder="Search">

                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="overflow: scroll">

                                                <table class=" table table-hover table-responsive">
                                                    <thead>
                                                    <tr>
                                                        <th>Party</th>
                                                        <th>Name</th>
                                                        <th>Chamber</th>
                                                        <th>District</th>
                                                        <th>State</th>
                                                        <th>Detail</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr dir-paginate="leg in leg2|orderBy:['statename','name']| filter:q2 | itemsPerPage: pageSize"
                                                        current-page="currentPage" pagination-id="legtab2"
                                                        style="min-width: 400px">

                                                        <td><img src='{{ leg.party }}' width='20px' height='20'/></td>
                                                        <td style="white-space: nowrap">{{ leg.name }}</td>
                                                        <td style="white-space: nowrap"><img src='{{ leg.chamber }}'
                                                                                             width='20px'
                                                                                             height='20'/> {{
                                                            leg.chambertxt
                                                            }}
                                                        </td>
                                                        <td style="white-space: nowrap">{{ leg.district}}</td>
                                                        <td>{{ leg.statename}}</td>
                                                        <td>
                                                            <button class='btn btn-primary'>View Detail</button>
                                                        </td>
                                                    <tr>
                                                    <tbody>


                                                </table>
                                            </div>
                                        </div>
                                        <div ng-controller="OtherController">
                                            <div class="text-center">
                                                <dir-pagination-controls boundary-links="true"
                                                                         pagination-id="legtab2"></dir-pagination-controls>
                                            </div>
                                        </div>


                                    </div>
                                    <div id="13" class="tab-pane fade">
                                        <div class="well" style="margin: 0;"><span>Legislators<br
                                                class="visible-xs"> By Senate</span>
                                            <input type="text" ng-model="q3" id="search13" style="float: right"
                                                   placeholder="Search">

                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="overflow: scroll">

                                                <table class=" table table-hover table-responsive">
                                                    <thead>
                                                    <tr>
                                                        <th>Party</th>
                                                        <th>Name</th>
                                                        <th>Chamber</th>
                                                        <th>State</th>
                                                        <th>Detail</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr dir-paginate="leg in leg3| orderBy:['statename','name']| filter:q3 | itemsPerPage: pageSize"
                                                        current-page="currentPage" pagination-id="legtab3"
                                                        style="min-width: 400px">

                                                        <td><img src='{{ leg.party }}' width='20px' height='20'/></td>
                                                        <td style="white-space: nowrap">{{ leg.name }}</td>
                                                        <td style="white-space: nowrap"><img src='{{ leg.chamber }}'
                                                                                             width='20px'
                                                                                             height='20'/> {{
                                                            leg.chambertxt
                                                            }}
                                                        </td>
                                                        <td>{{ leg.statename}}</td>
                                                        <td>
                                                            <button class='btn btn-primary'>View Detail</button>
                                                        </td>
                                                    <tr>
                                                    <tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div ng-controller="OtherController">
                                            <div class="text-center">
                                                <dir-pagination-controls boundary-links="true"
                                                                         pagination-id="legtab3"></dir-pagination-controls>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item" style="background-color: white">
                            <button class="glyphicon glyphicon-chevron-left" ng-click="back()" style="background-color: white;height: 30px" ></button>
                            Details
                            <hr>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <table class=" table table-responsive ">
                                        <tbody>
                                        <tr>
                                            <td rowspan="5"><img src="{{lgdet.photo}}" width="130px"></td>
                                            <td>{{lgdet.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{lgdet.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Chamber: {{lgdet.chamber}}</td>
                                        </tr>
                                        <tr>
                                            <td>Contact: {{lgdet.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td><img src='{{lgdet.party }}' width='20px' height='20'/> {{lgdet.partytxt}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class=" table table-hover table-responsive ">
                                        <tbody>
                                        <tr>
                                            <td>Start Term</td>
                                            <td>{{lgdet.tstart}}</td>
                                        </tr>
                                        <tr>
                                            <td>End Term</td>
                                            <td>{{lgdet.tend}}</td>
                                        </tr>
                                        <tr>
                                            <td>Term</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Office</td>
                                            <td>{{lgdet.office}}</td>
                                        </tr>
                                        <tr>
                                            <td>State</td>
                                            <td>{{lgdet.state}}</td>
                                        </tr>
                                        <tr>
                                            <td>Fax</td>
                                            <td>{{lgdet.fax}}</td>
                                        </tr>
                                        <tr>
                                            <td>Birthday</td>
                                            <td>{{lgdet.birthday}}</td>
                                        </tr>
                                        <tr>
                                            <td>Social Links</td>
                                            <td><a href="https://www.twitter.com/{{lgdet.tid}}" target="_blank"><img src="t.png" width="30px"></a>&nbsp;
                                                <a href="https://www.facebook.com/{{lgdet.fid}}" target="_blank"><img src="f.png"  width="30px"></a>&nbsp;
                                                <a href="{{lgdet.web}}" target="_blank"><img src="w.png"  width="30px"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div><h4>Committees</h4>
                                    <table class=" table table-responsive ">
                                        <tbody>
                                        <tr>
                                            <td rowspan="5"><img src="{{lgdet.photo}}" width="130px"></td>
                                            <td>{{lgdet.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{lgdet.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Chamber: {{lgdet.chamber}}</td>
                                        </tr>
                                        <tr>
                                            <td>Contact: {{lgdet.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td><img src='{{lgdet.party }}' width='20px' height='20'/> {{lgdet.partytxt}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div><h4>Bills</h4>
                                        <table class=" table table-responsive ">
                                            <tbody>
                                            <tr>
                                                <td rowspan="5"><img src="{{lgdet.photo}}" width="130px"></td>
                                                <td>{{lgdet.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{lgdet.email}}</td>
                                            </tr>
                                            <tr>
                                                <td>Chamber: {{lgdet.chamber}}</td>
                                            </tr>
                                            <tr>
                                                <td>Contact: {{lgdet.phone}}</td>
                                            </tr>
                                            <tr>
                                                <td><img src='{{lgdet.party }}' width='20px' height='20'/> {{lgdet.partytxt}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="billtab" class=" xblock col-lg-10 col-xs-11 col-sm-11  col-md-10"
                 style="background-color: whitesmoke">
                <h1>Bills</h1>
                <hr>

                <div style="border: solid 1px lightgray;border-radius: 5px ">
                    <ul class="nav nav-tabs" style="background-color: white">
                        <li id="tab21" class="active"><a data-toggle="tab" href="#21">Active Bills</a></li>
                        <li id="tab22"><a data-toggle="tab" href="#22">New Bills</a></li>

                    </ul>
                    <div class="tab-content">
                        <div id="21" class="tab-pane fade in active">
                            <div class="well" style="margin: 0;">Active Bills
                                <span> <input type="text" ng-model="q4" id="search21" style="float: right"
                                              placeholder="Search"
                                ></span>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body" style="overflow: scroll">

                                    <table class=" table table-hover table-responsive">
                                        <thead>
                                        <tr>
                                            <th style="white-space: nowrap">Bill ID</th>
                                            <th style="white-space: nowrap">Bill Type</th>
                                            <th style="white-space: nowrap" class="hidden-xs hidden-sm">Title</th>
                                            <th style="white-space: nowrap">Chamber</th>
                                            <th style="white-space: nowrap">Introducted on</th>
                                            <th style="white-space: nowrap">Sponsor</th>
                                            <th>Detail</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr dir-paginate="bill in bill1| orderBy:'billid'| filter:q4 | itemsPerPage: pageSize"
                                            current-page="currentPage" pagination-id="billtab1"
                                            style="min-width: 400px">

                                            <td style="white-space: nowrap">{{ bill.billid}}</td>
                                            <td>{{ bill.billtype}}</td>
                                            <td class="hidden-xs hidden-sm">{{ bill.billtitle}}</td>
                                            <td style="white-space: nowrap"><img src='{{ bill.chamber }}' width='20px'
                                                                                 height='20'/> {{
                                                bill.chambertxt
                                                }}
                                            </td>
                                            <td>{{ bill.introducted}}</td>
                                            <td style="white-space: nowrap">{{ bill.sponsor}}</td>
                                            <td>
                                                <button class='btn btn-primary'>View Detail</button>
                                            </td>
                                        <tr>
                                        <tbody>

                                    </table>
                                </div>
                            </div>
                            <div ng-controller="OtherController">
                                <div class="text-center">
                                    <dir-pagination-controls boundary-links="true"
                                                             pagination-id="billtab1"
                                    ></dir-pagination-controls>
                                </div>
                            </div>


                        </div>
                        <div id="22" class="tab-pane fade">
                            <div class="well" style="margin: 0;"><span>New Bills</span>
                                <input type="text" ng-model="q5" id="search22" style="float: right"
                                       placeholder="Search">

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body" style="overflow: scroll">
                                    <table class=" table table-hover table-responsive">
                                        <thead>
                                        <tr>
                                            <th style="white-space: nowrap">Bill ID</th>
                                            <th style="white-space: nowrap">Bill Type</th>
                                            <th style="white-space: nowrap" class="hidden-xs hidden-sm">Title</th>
                                            <th style="white-space: nowrap">Chamber</th>
                                            <th style="white-space: nowrap">Introducted on</th>
                                            <th style="white-space: nowrap">Sponsor</th>
                                            <th>Detail</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr dir-paginate="bill in bill2| orderBy:'billid'| filter:q5 | itemsPerPage: pageSize"
                                            current-page="currentPage" pagination-id="billtab2"
                                            style="min-width: 400px">

                                            <td style="white-space: nowrap">{{ bill.billid}}</td>
                                            <td>{{ bill.billtype}}</td>
                                            <td class="hidden-xs hidden-sm">{{ bill.billtitle}}</td>
                                            <td style="white-space: nowrap"><img src='{{ bill.chamber }}' width='20px'
                                                                                 height='20'/> {{
                                                bill.chambertxt
                                                }}
                                            </td>
                                            <td>{{ bill.introducted}}</td>
                                            <td style="white-space: nowrap">{{ bill.sponsor}}</td>
                                            <td>
                                                <button class='btn btn-primary'>View Detail</button>
                                            </td>
                                        <tr>
                                        <tbody>

                                    </table>
                                </div>
                            </div>
                            <div ng-controller="OtherController">
                                <div class="text-center">
                                    <dir-pagination-controls boundary-links="true"
                                                             pagination-id="billtab2"
                                    ></dir-pagination-controls>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>